<div class="text-center">
<!-- 	<p class="light small">Share this post</p> -->
<!-- 	<ul class="social-mini"> -->
<!-- 		<li><a -->
<!-- 			href="https://twitter.com/intent/tweet?text=&quot;{{ page.title }}&quot;%20{{ site.url }}{{ page.url }}%20via%20&#64;{{ site.owner.twitter }}" -->
<!-- 			onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" -->
<!-- 			data-toggle="tooltip" title="Share on Twitter" itemprop="Twitter"> -->
<!-- 				<i class="fa fa-twitter"></i> -->
<!-- 		</a></li> -->
<!-- 		<li><a -->
<!-- 			href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" -->
<!-- 			onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" -->
<!-- 			data-toggle="tooltip" title="Share on Facebook" itemprop="Facebook"> -->
<!-- 				<i class="fa fa-facebook"></i> -->
<!-- 		</a></li> -->
<!-- 		<li><a -->
<!-- 			href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" -->
<!-- 			onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" -->
<!-- 			data-toggle="tooltip" title="Share on Google plus" -->
<!-- 			itemprop="GooglePlus"> <i class="fa fa-google-plus"></i> -->
<!-- 		</a></li> -->
<!-- 		<li><a rel="nofollow" title="Share on Sina microblog" -->
<!-- 			href="javascript:void((function(s,d,e){try{}catch(e){}var%20f='http://v.t.sina.com.cn/share/share.php?',u=d.location.href,p=['url=',e(u),'&title=',e(d.title),'&appkey=1392530042'].join('');function a(){if(!window.open([f,p].join(''),'mb',['toolbar=0,status=0,resizable=1,width=620,height=450,left=',(s.width-620)/2,',top=',(s.height-450)/2].join('')))u.href=[f,p].join('');};if(/Firefox/.test(navigator.userAgent)){setTimeout(a,0)}else{a()}})(screen,document,encodeURIComponent));"> -->
<!-- 			<img class="logogif"  -->
<!-- 				src='http://simg.sinajs.cn/blog7style/images/common/sg_trans.gif' -->
<!-- 				alt='Share on Sina microblog' border='0'> -->
<!-- 		</a></li> -->
<!-- 	</ul> -->
</div>
